@use "../../SCSS/" as *;

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include ipad {
    flex-direction: column;
    background-color: rgb(61, 48, 48);
    color: #fff;
    padding: 3rem;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 99;
  }
  @include mobile {
    display: none;
  }
  .logo {
    width: 10rem;
    height: 3rem;
  }
  .header-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white);

    li:hover {
      color: var(--orange);
      cursor: pointer;
    }
  }
}
