.header {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 10rem;
    height: 3rem;
  }
  .header-menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white);

    li:hover {
      color: var(--orange);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    flex-direction: column;
    background-color: rgb(61, 48, 48);
    color: #fff;
    padding: 3rem;
  }
}
